$White: hsl(0, 0%, 98%);
$LightGray: hsl(235, 19%, 35%);

$FaintBlack: hsl(236, 9%, 61%);
$LightBlack: hsl(235, 24%, 19%);
$Black: hsl(235, 21%, 11%);
$Gradient: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
