@import "utils/_theme.scss";

.headerContainer {
    display: flex;
    flex-direction: row;
    width: 100%;

    h1,
    .themeContainer {
        display: flex;
        align-items: center;
        width: 50%;
        color: $White;
        letter-spacing: 1rem;
        text-transform: uppercase;
    }

    .themeContainer {
        justify-content: flex-end;

        .icon {
            color: $White;
            cursor: pointer;

            &:hover {
                transform: scale(0.8);
                transition: 300ms;
            }
        }
    }
}